<!--<template>
    <div id="myapp">
        <div id="nav">
            <div v-if="!authenticated">
                <router-link to="/signin">Inicio de Sesion | </router-link>
                <router-link to="/signup">Registro | </router-link>
            </div>
            <div v-else>
                <router-link to="/"> Pagina principal | </router-link>
                <router-link to="/profile"><b>{{user.name}}</b> | </router-link>
                <a href="#" @click.prevent="logout">Cerrar Session</a>
            </div>
        </div>
        <router-view/>
    </div>
</template>-->

<template>
    <div>
    

    <!-- Footer -->

        <router-view/>
    

    <!-- Scroll to Top Button-->
    </div>
</template>


<script>
    export default {
        name:'Main',
        mounted(){
            const plugin = document.createElement('script')
            plugin.setAttribute('scr','/js/myscripts/stylishminMain.js')
            plugin.async = true
            document.head.appendChild(plugin)
        }
    }   
</script>
