<template>
 <div>
        <div class="card mb-4">
            <div class="card-header">
                Todas las categorias
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre del cliente</th>
                            <th scope="col">Apellido del cliente</th>
                            <th scope="col">detalle</th>
                            <th scope="col">mesa</th>
                            <th scope="col">Fecha</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(reservation,index) in getReservations" :key="index">
                            <th scope="row">{{index}}</th>
                            <td>{{reservation.name}}</td>
                            <td>{{reservation.apellido}}</td>
                            <td>{{reservation.detalle}}</td>
                            <td>{{reservation.mesa}}</td>
                            <td>{{reservation.added}}</td>
                            <td><button class="btn btn-primary"> eliminar </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
        name:'AllReservations',
        computed:{
            ...mapGetters({
                getReservations:'reservation/get_all_reservations'
            })
        },
        methods:{
            ...mapActions({
                get_all_reservations:'reservation/getReservationsAll'
            }),
        },
        mounted(){
            this.get_all_reservations()
        },
    }

</script>