<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear nueva reserva
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createPost">
                        <div class="form-group">
                            <label for="name">nombre</label>
                            <input class="form-control" id="title" name="name"  type="text" placeholder="nombre" v-model="form.name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="apellido">apellido</label>
                            <input class="form-control" id="apellido" apellido="apellido"  type="text" placeholder="apellido" v-model="form.apellido" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="detalle">detalle</label>
                            <input class="form-control" id="detalle" detalle="detalle"  type="text" placeholder="detalle" v-model="form.detalle" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="body">mesa</label>
                            <input class="form-control" id="body" body="body"  type="text" placeholder="mesa" v-model="form.mesa" autocomplete="off">
                        </div>
                        <!--div class="form-group">
                            <label for="body">Contenido</label>
                            <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
                        </div-->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear </button>
                    </form>
            </div>
        </div>
    </div>
          
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'CreateReservation',
    data(){
        return {
            form:{
                name:'',
                apellido:'',
                detalle:'',
                mesa:''
    
            },
        }
    },
    methods:{
        ...mapActions({
            create_reservation:'reservation/createReservation'
        }),
        async submit(){
            try {
                await this.create_reservation(this.form)
                //await this.create_reservation(this.form)
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
                
                $('#createPost')[0].reset()
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
                
            }
            
        }

    }
}
</script>