<template>
    <div>
        <!-- Header -->
    <!--<NavHome : color="color"/>-->
    <NavHome/>
    <!--<header class="masthead d-flex">
        <div class="container text-center my-auto">
        <h1 class="mb-1">FUSSION <br> BOLIVIANA-PERUANA</h1>
        <h3 class="mb-5">
            <em>el sabor del buen gusto </em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">aga clik aqui</a>
        </div>
        <div class="overlay"></div>
    </header>-->
    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
            <h2>FUSSION LE DA LA VIENVENIDA A SU PAGINA </h2>
            <p class="lead mb-5">basado en las comidas mas autenticas con ingredientes netamente peruanos y bolivianos
                <a href="https://unsplash.com/">Unsplash</a>!</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            </div>
        </div>
        </div>
    </section>
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Servicios</h3>
                <h2 class="mb-5">OFRECEMOS</h2>
            </div>
            <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-screen-smartphone"></i>
                    </span>
                    <h4>
                        <strong>CENAS GOURMET</strong>
                    </h4>
                    <p class="text-faded mb-0">Looks great on any screen size!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-pencil"></i>
                    </span>
                    <h4>
                        <strong>EVENTOS ESPECIALES</strong>
                    </h4>
                    <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-like"></i>
                    </span>
                    <h4>
                        <strong>ALMUERZOS BUFFET</strong>
                    </h4>
                    <p class="text-faded mb-0">Millions of users
                        <i class="fas fa-heart"></i>
                        Start Bootstrap!</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-mustache"></i>
                    </span>
                    <h4>
                        <strong>CATERING</strong>
                    </h4>
                    <p class="text-faded mb-0">I mustache you a question...</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Callout -->
    <section class="callout">
        <div class="container text-center">
        <h2 class="mx-auto mb-5">BIENVENIDO
            <em></em>
            al sitio web!</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/"> </a>
        </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
        <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">FOOD AND DRINK</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                <div class="caption-content">
                    <div class="h2">DESAYUNOS</div>
                    <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </div>
                </div>
                <img class="img-fluid" src="images/a5.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                <div class="caption-content">
                    <div class="h2">POSTRES</div>
                    <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </div>
                </div>
                <img class="img-fluid" src="images/a7.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                <div class="caption-content">
                    <div class="h2">ALMUERZOS</div>
                    <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </div>
                </div>
                <img class="img-fluid" src="images/a6.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                <div class="caption-content">
                    <div class="h2">CENAS</div>
                    <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </div>
                </div>
                <img class="img-fluid" src="images/a9.jpg" alt="">
            </a>
            </div>
        </div>
    </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
        <h2 class="mb-4">NOS ENCONTRAMOS UBICADOS EN LA CALLE MEDINACELI #46...</h2>
        <a href="#!" class="btn btn-xl btn-light mr-4"> Has Click !</a>
        <a href="#!" class="btn btn-xl btn-dark"> Mirame!</a>
        </div>
    </section>

    <!-- Map -->
    
    <div id="contact" class="map">
        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
    </div>
    </div>
    
</template>

<script>
import {mapGetters, mapActions} from 'vuex' 
import NavHome from '../components/NavHome'
export default {
    name:"Home",
    data(){
        return {
            color:'transparent'
        }
    },
    components:{NavHome},
    computed:{
        ...mapGetters({
            publicaciones:'post/get_publicaciones'
        })
    },
    methods:{
        ...mapActions({
            get_publicaciones:'post/get_publicaciones',
        }),
    },
    created(){
        this.get_publicaciones()
    },    
}

</script>