<!--template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template-->

<template>
    <div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="#" @submit.prevent = "submit">
					<h3>REGISTRARSE</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="name">Nombre</label>
                            <input type="text" class="form-control" name="name" id="name" v-model="form.name">
						</div>
						<div class="form-wrapper">
							<label for="apellido">Apellido</label>
                            <input type="text" class="form-control" apellido="apellido" id="apellido" v-model="form.apellido">
						</div>
					</div>
					<div class="form-wrapper">
						<label for="email">Correo electronico</label>
                        <input type="email" class="form-control" name="email" id="email" v-model="form.email">
					</div>
					<div class="form-wrapper">
						<label for="password">Contraseña</label>
                        <input type="text" class="form-control" name="password" id="password" v-model="form.password">
					</div>
					<div class="form-wrapper">
						<label for="password">Confirmar Contraseña</label>
                        <input type="text" class="form-control" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox">Acepto los Términos de uso y la Política de privacidad.
							<span class="checkmark"></span>
						</label>
					</div>
					<button>Registrarse</button>
				</form>
			</div>
		</div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
