<template>

    <section>
        <header class="masthead d-flex">
            <div class="container text-center my-auto">
            <h1 class="mb-1">FUSSION <br> BOLIVIANA-PERUANA</h1>
            <h3 class="mb-5">
                <em>el sabor del buen gusto </em>
            </h3>
                <div v-if="!authenticated">
                    <router-link to="/signin" class="btn btn-primary btn-xl js-scroll-trigger" >Inicio de Sesion</router-link>
                    <router-link to="/signup" class="btn btn-primary btn-xl js-scroll-trigger"  >Registro</router-link>
                    <a class="btn btn-primary btn-xl js-scroll-trigger"  href="#about" >About    </a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger"  href="#services">Services  </a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Contact</a>
                </div>
                <div v-else>
                    <router-link to="/"> Pagina principal | </router-link>
                    <router-link to="/profile"><b>{{user.name}}</b> | </router-link>
                    <a href="#" @click.prevent="logout">Cerrar Session</a>
                </div>
            <!--a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">aga clik aqui</a-->
            </div>
            <div class="overlay"></div>
        </header>
    </section>
     <!--<div id="myapp" class="text-danger text-right d-block" >
        <div id="nav">
            <div v-if="!authenticated">
                <router-link to="/signin" >Inicio de Sesion | </router-link>
                <router-link to="/signup"  >Registro | </router-link>
                <a  href="#about" >About   |  </a>
                <a  href="#services">Services   |  </a>
                <a  href="#contact">Contact</a>
            </div>
            <div v-else>
                <router-link to="/"> Pagina principal | </router-link>
                <router-link to="/profile"><b>{{user.name}}</b> | </router-link>
                <a href="#" @click.prevent="logout">Cerrar Session</a>
            </div>
        </div>
    </div>-->
</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'NavHome',
        props:["color"],
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated',
                user:'auth/user',
            })
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }
        },
    }
</script>
